name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  NODE_VERSION: 12
  FORCE_COLOR: 3

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: prettier --version
        uses: ./
        with:
          args: --version
      - name: prettier --help
        uses: ./
        with:
          args: --help
      - name: prettier --check .
        uses: ./
        with:
          args: --check .
      - name: prettier --write .
        uses: ./
        with:
          args: --write .
  verify-output:
    name: Verify output
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Get Yarn cache directory
        id: get-yarn-cache-dir
        run: echo "::set-output name=path::$(yarn cache dir)"
      - name: Cache Yarn dependencies
        uses: actions/cache@v3.0.7
        with:
          path: ${{ steps.get-yarn-cache-dir.outputs.path }}
          key: "${{ runner.os }}-node-${{ env.NODE_VERSION }}-yarn-\
            ${{ hashFiles('**/yarn.lock') }}"
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE_VERSION }}-yarn-
      - run: yarn install --frozen-lockfile
      - name: Rebuild output
        run: yarn build -o dist-ci
      - name: Verify output
        run: diff -qr dist dist-ci
